

.div1{
  height: 5px;
  width:200px;
  margin-left:10px;
  padding-top:5px;
  background-color:purple;
  
}
.div2{
  height: 5px;
  width:200px;
  margin-left:10px;
  padding-top:5px;
  background-color:grey;
  
}
.div3{
  height: 5px;
  width:200px;
  margin-left:10px;
  padding-top:5px;
  background-color:grey;
  
}
.icon{
  margin-top: -20px;
  margin-left: 10px;
}
.time{
  margin-left: -180px;
  margin-top: -1px;
}
.span1{
  margin-top: 20px ;
}